{% extends 'layout.html' %}


{% block body %}

    <div class="mx-auto">
            <a
                class="btn btn-primary"
                href="{% url 'add' %}"
                role="button"
                >Add new task</a
            >
        <br>
        <hr>
        {% if tasks %}
        <div class="task-manager">
            {% for task in tasks %}
                <div class="task">
                        <h2 class="task-title">
                            {% if task.is_done == True %}
                                <strong style="text-decoration: line-through;" >{{task.title}}</strong>
                            {% else %}
                                <strong>{{task.title}}</strong>
                            {% endif %}
                        </h2>
                        <div class="task-body">
                            {{ task.description }}
                            <hr>
                            <div class="options-bar" >
                                <a href="{% url 'update' task_id=task.id %}">Edit</a>
                                <a href="{% url 'delete' task_id=task.id %}">Delete</a>
                                {% if task.is_done %}
                                <a class="success" href="{% url 'remove' task_id=task.id %}">Done</a>
                                {% else %}
                                <a href="{% url 'remove' task_id=task.id %}">Done</a>
                                {% endif %}

                                
                            </div>
                        </div>
                </div>
                {% endfor %}
                
        </div>
        {% else %}
        <div>
            <h3>You don't have any task yet</h3>
        </div>
        {% endif %}
    </div>

{% endblock %}